* {
    box-sizing: border-box;
}
header{
    flex-wrap: wrap;
}
body{
    background: gray;
    margin: 40px;
    font-family:'Nunito Sans', sans-serif;
    font-size: 130%;
}
button{
    background-color: yellow;
    margin: 6px;
    font-size: 125%;
}
#buttons{
    text-align: center;
}

header, .choices, .story{
    display: flex;
    justify-content: space-around;
    border-radius: 0.3em;
    border-radius: 5px;
    margin: 10px;
    border: 0;
    flex-wrap: wrap;
}
button:hover
{
    color: white;
    transition: 0.3s;
}
div{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    text-align: center;
  }
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 100%;
}
img {
    text-align: justify;
    width: 100%;
    line-height: 30px;
}
#text, #buttons {
    margin: 0;
    border-radius: 1rem;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}

@media (max-width: 1024px) {
    #text, #choicelist {
        width: 100%;
    }
    button {
        width: 100%;
    }
}
  

.box {
    background-color: darkgray;
}