* {
    box-sizing: border-box;
    font-family:'Nunito Sans', sans-serif;
    font-size: 20px;
}

body{
    background: gray;
}
button{
    background-color: azure;
    margin: 10px;
    font-size: 17px;
}


header, .choices, .story{
    display: flex;
    justify-content: space-around;
    border-radius: 0.3em;
}
button:hover
{
    color: rgb(37, 153, 255);
}
div{
    display: block;
}
h3{
    display: block;
}
#button{
    text-align: center;
}
#text, #buttons {
    width: 50%;
    margin: 0;
    border-radius: 1rem;
    padding: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 500;
  }